extends layout

block content
  h1 Login
  p Please enter your email and password to log in


  if errors
    each error in errors
      .alert.alert-danger= error.msg

  form(method='POST', action='/login')
    .form-group
      label(for='email') Email
      input.form-control(type='email', name='email', value=email)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password', value=password)
    button.btn.btn-primary(type='submit') Login
