extends layout

html
  head
    title= QR Code Page
  body
    h1= title
    p Welcome to #{title}
    block content 

    form(method="post", action="/generate-qr-code")

      input(type="number" name="Height" placeholder="Height")
      br
      input(type="number" name="Width" placeholder="Width")
      br
      button(type="submit" value="Generate QR Code")
    
      if url
        img(src=url, alt="QR Code")
