extends layout 

block content
    h1 Add Movie

    if errors
        each error in errors 
            p(style="color:red") #{error.msg}

    form(method="POST", action="/book/add")
        #form-group 
            label Name:
            input.form-control(name="name", type="text")

        #form-group 
            label Description:
            input.form-control(name="description", type="text")
    
        #form-group 
            label Year:
            input.form-control(name="year", type="number")

        #form-group 
            label Genres:
            for genre in genres
                input.form-control(name="genres", type="checkbox" value=genre)
                label= genre
                
        #form-group 
            label Rating:
            input.form-control(name="rating", type="number")
        
            input.btn.btn-primary(type="submit", value="Submit")