extends layout

block content
    h1 = Course Class

    h1 = id
    p #{id}

    h1 = name
    p #{name}

    h1 = departament
    p #{departament}

    h1 = description
    p #{description}